[include shell_command.cfg]
[include fluidd.cfg]
[include macros.cfg]
#####################################################################
## For KAMP (klipper Adaptive Bed Leveling - and purging)
#####################################################################
#[include KAMP_Settings.cfg]
[include stealthburner_leds.cfg] #### Stealthburner LED routines ####
[virtual_sdcard]

path:/home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

#####################################################################
## for Sensorless Homing                                           ##
#####################################################################
[force_move]
 enable_force_move: True

#####################################################################
##  Thermistor Definition                                          ##
#####################################################################
#[thermistor PT1000]


[thermistor ATC Semitec 104NT-4-R025H42G]
temperature1: 25
resistance1: 100000
temperature2: 160
resistance2: 1074
temperature3: 300
resistance3: 82.78

#[thermistor ATC Semitec 104GT-2]
#temperature1: 20
#resistance1: 126800
#temperature2: 150
#resistance2: 1360
#temperature3: 300
#resistance3: 80.65


#####################################################################
#MCU's
#####################################################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_310011001750344D30353320-if00

[mcu can0]
canbus_uuid: c216d8014606
## Obtain by "~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py" can0 ##
## troubleshooting CANbus "ip -s link show can0" shows traffic, "lsusb" shows usb connected 


#####################################################################
## Exclude list for Adaptive Bed Mesh and Purge
#####################################################################
[exclude_object]

#####################################################################
## Basic Printer definitions
#####################################################################
[printer]
kinematics: corexy
max_velocity: 400  
max_accel: 5000             #Max 4000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 20.0

#####################################################################
#   X/Y Stepper Settings
#####################################################################
##  "B Stepper" - Left Rear
##  Connected to MOTOR_0
##  Virtual Endstop
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200  #set to 200 for 1.8 degree stepper
endstop_pin: tmc5160_stepper_x:virtual_endstop
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 40
homing_retract_dist: 0
homing_positive_dir: true


[tmc5160 stepper_x]
cs_pin: PC4
interpolate: False
run_current: 1.99
sense_resistor: 0.075
stealthchop_threshold: 0
diag1_pin: ^!PG6
driver_SGT: 20
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
#spi_bus: spi1


##  "B Front Stepper" - Left_Front
##  Connected to MOTOR_1
##  Virtual Endstop
[stepper_x1]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200  #set to 200 for 1.8 degree stepper
#endstop_pin: tmc5160_stepper_x1:virtual_endstop
#position_min: 0
#position_endstop: 300
#position_max: 300
#homing_speed: 40  #Max 100
#homing_retract_dist: 0
homing_positive_dir: true

[tmc5160 stepper_x1]
cs_pin: PD11
interpolate: False
run_current: 1.99
sense_resistor: 0.075
stealthchop_threshold: 0
diag1_pin: ^!PG9
#driver_SGT: 20
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
#spi_bus: spi1

##  A Stepper - Left_Rear
##  Connected to MOTOR_2
##  Virtual Endstop
[stepper_y]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200  #set to 200 for 1.8 degree stepper
endstop_pin: tmc5160_stepper_y:virtual_endstop
position_min: 1
position_endstop: 300
position_max: 300
homing_speed: 40  #Max 100
homing_retract_dist: 0
homing_positive_dir: true

[tmc5160 stepper_y]
cs_pin: PC6
interpolate: False
run_current: 1.99
sense_resistor: 0.075
stealthchop_threshold: 0
diag1_pin: ^!PG10
driver_SGT: 20
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
#spi_bus: spi1

##  "A Front Stepper" - Left_Right
##  Connected to MOTOR_3
##  Virtual Endstop
[stepper_y1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200  #set to 200 for 1.8 degree stepper
#endstop_pin: tmc5160_stepper_y1:virtual_endstop
#position_min: 1
##position_max: 300
#homing_speed: 40  #Max 100
#homing_retract_dist: 0
homing_positive_dir: true

[tmc5160 stepper_y1]
cs_pin: PC7
interpolate: False
run_current: 1.99
sense_resistor: 0.075
stealthchop_threshold: 0
diag1_pin: ^!PG11
driver_SGT: 20
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
#spi_bus: spi1

#####################################################################
#   Z Stepper Settings
#####################################################################
##  Z0 Stepper - Front Left
##  Connected to MOTOR_4
##  Virtual Endstop
[stepper_z]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
rotation_distance: 4    # Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
position_min: -10
position_max: 225
homing_speed: 7.5 # Leadscrews are slower than 2.4, 10 is a recommended max. Jan 30th moved from 8 to 10
second_homing_speed: 3
homing_retract_dist: 0 ##Old value = 3 Beacon requires 0##
[tmc2209 stepper_z]
uart_pin: PF2
interpolate: False
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0
driver_SGTHRS: 45

## Z1 Stepper - Rear
## Connected to Motor5
[stepper_z1]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 4  # Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
microsteps: 32
full_steps_per_rotation: 200
[tmc2209 stepper_z1]
uart_pin: PE4
interpolate: False
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Front Right
##  Connected to MOTOR_6
[stepper_z2]
step_pin: PE2
dir_pin: !PE3
enable_pin: !PD4
rotation_distance: 4  # Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
microsteps: 32
full_steps_per_rotation: 200
[tmc2209 stepper_z2]
uart_pin: PE1
interpolate: False
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
##   BOARD PINS - defines pin aliases on Octopus for config usage.   ##
#####################################################################
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5a
   
#####################################################################
##   BOARD PINS - defines pin aliases on EBB36 for config usage.   ##
#####################################################################

[board_pins EBB36_G0B1_v1.2] 
mcu: can0
aliases:
aliases_step:
    EXT_EN=PD2,EXT_STEP=PD0,EXT_DIR=PD1,EXT_UART=PA15
aliases_TAP: # these are preferred for endstops (including klicky)
    TAP_3=PB7,TAP_2=PB5,TAP_1=PB6
aliases_bltouch: # these are the dupont connectors for bltouch
    PROBE_1=PB9,PROBE_2=PB8
aliases_fans:
    FAN0=PA1,FAN1=PA0
aliases_thermistors:
    TH0=PA3,PT100_CS=PA4,PT100_SCLK=PA5,PT100_MISO=PA6,PT100_MOSI=PA7
aliases_heaters:
    HE0=PB13
aliases_rgb:
    RGBLED=PD3
aliases_adxl:
    ADXL_CS=PB12,ADXL_SCLK=PB10,ADXL_MISO=PB2,ADXL_MOSI=PB11
aliases_i2c:
    AUX0=PB3,AUX1=PB4

#####################################################################
## Define ADXL345 for input shaping                                ##
#####################################################################

[adxl345]
cs_pin: can0:ADXL_CS
spi_software_sclk_pin: can0:ADXL_SCLK
spi_software_mosi_pin: can0:ADXL_MOSI
spi_software_miso_pin: can0:ADXL_MISO
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    150,150,20 

#####################################################################
#   Extruder
#####################################################################
[extruder]
step_pin: can0:EXT_STEP
dir_pin: !can0:EXT_DIR  
enable_pin: !can0:EXT_EN
microsteps: 16
full_steps_per_rotation: 200 #1.8deg Motor
rotation_distance: 4.637
nozzle_diameter: 0.40
filament_diameter: 1.750
#pressure_advance     
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 120
max_extrude_only_accel: 5500
max_extrude_cross_section: 5
min_extrude_temp: 15
heater_pin: can0:HE0
sensor_pin: can0:TH0
sensor_type: ATC Semitec 104NT-4-R025H42G 
min_temp: 10
max_temp: 350

## EXTRUDER MOTOR
[tmc2209 extruder]
uart_pin: can0:EXT_UART
interpolate: true
sense_resistor: 0.11
stealthchop_threshold: 0
run_current: 1.1

[verify_heater extruder]

max_error:  140

#####################################################################
##   Firmware Retract                                              ##
#####################################################################

[firmware_retraction]
retract_length: 2
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 40
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0.2
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 20
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

#####################################################################
##   Bed                                                           ##
#####################################################################
[heater_bed]
##  SSR Pin - HE1
##  Thermistor - TB
heater_pin: PA2
## See https://www.klipper3d.org/Config_Reference.html#common-thermistors for thermistor types. ##
sensor_type: Generic 3950  #Trianglelab-NTC100K-B3950  ##ATC Semitec 104NT-4-R025H42G
sensor_pin: PF4
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 1
min_temp: 1
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

[verify_heater heater_bed]
max_error: 150
check_gain_time: 120

[bed_mesh]
speed: 300
horizontal_move_z: 10
mesh_min: 40, 40
mesh_max: 260,260
fade_start: 1
fade_end: 10.0
probe_count: 5,5 # Values should be odd, so one point is directly at bed center
algorithm: bicubic
mesh_pps: 2, 3
bicubic_tension: 0.2

#####################################################################
##   Fan Control                                                   ##
#####################################################################
[fan]
##  Print Cooling Fan 
pin: can0:FAN1
kick_start_time: 0.25
cycle_time: 0.15
off_below: 0.10

[heater_fan hotend_fan]
##  Hotend Fan
pin: can0:FAN0
max_power: 1.0
kick_start_time: 0.5
fan_speed: 0.6
heater: extruder
heater_temp: 60.0
##  If you are experiencing back flow, you can reduce fan_speed

##BED FANS##
[fan_generic Nevermore]
max_power: 1.0
pin: PA8
kick_start_time: 0.5
off_below: 0.0
cycle_time: 0.010

##BENTO BOX FILTER##
[fan_generic HEPA]
max_power: 1.0
pin: PE5
kick_start_time: 0.10
off_below: 0.0
cycle_time: 0.010

##ELECTRONICS BAY FANS##
[fan_generic controller_fan]
##  Controller fan - FAN2
pin: PD12
kick_start_time: 0.5
max_power: 1.0
off_below: 0.0
cycle_time: 0.010

#[fan_generic exhaust_fan]
##  Exhaust fan - FAN3
#pin: PD12
#max_power: 1.0
#kick_start_time: 0.5
#off_below: 0.0
#cycle_time: 0.010

##EXHAUST FAN - AUTO ON BASED ON TEMP##
#[temperature_fan chamber]
#pin: PD13
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#cycle_time:0.01
#off_below:0.1
#sensor_type: Generic 3950
#sensor_pin: PF5
#min_temp: 0
#max_temp: 70
#target_temp: 40.0
#control: watermark
#gcode_id: C

[gcode_macro M141]
gcode:
    {% set s = params.S|default(0)|float %}
    SET_TEMPERATURE_FAN_TARGET temperature_fan="chamber" target={s}

#[gcode_macro M106]
#gcode:
#    {% set fan = 'fan' + (params.P|int if params.P is defined else 0)|string %}
#    {% set speed = (params.S|float / 255 if params.S is defined else 1.0) %}
#    SET_FAN_SPEED FAN={fan} SPEED={speed}
#
#[temperature_fan RaspberryPi]
#sensor_type: temperature_host #This is what the Pi's Temperature sensor is known as.
#pin: host:gpiochip1/gpio14 #PD15   #Set this to your fan pin
#max_temp: 80.0                #Set below 85C, Pi3+ MCU can be damaged at 85C
#target_temp: 45.0             #Set this to your preferred running temperature
#min_temp: 10
#shutdown_speed: 0.0
#kick_start_time: 0.5
#off_below: 0.19
#max_speed: 1.0
#min_speed: 0.0
#control: pid
#pid_Kp: 2.0
#pid_Ki: 5.0
#pid_Kd: 0.5
#pid_deriv_time: 2.0

[gcode_arcs]
resolution: 1.0

#####################################################################
##   Filament Sensor                                               ##
#####################################################################
[filament_switch_sensor switch_sensor]
switch_pin: ^PG12
pause_on_runout: False
runout_gcode:
  PAUSE
  M117 Filament switch runout
insert_gcode:
  M117 Filament switch insert_gcode

#[filament_motion_sensor encoder_sensor]
#switch_pin: ^PG13
#detection_length: 4 #motion sensor accuracy 2.88mm
#extruder: extruder
#pause_on_runout: False
#runout_gcode:
#  PAUSE
#  M117 
#insert_gcode:
#  M117

#####################################################################
##   LED Controls                                                  ##
#####################################################################
#[neopixel headlight]
## Stealthburner lighting - RGB_LED
#pin: can0:RGBLED
#chain_count: 3
#color_order: RGB
#initial_RED: 0.069
#initial_GREEN: 0.078
#initial_BLUE: 0.11
#initial_WHITE: 0.0

[neopixel caselight]
pin: PB0
chain_count: 50
color_order: GRB
initial_GREEN: 0.161
initial_RED: 0.239
initial_BLUE: 0.251

#####################################################################
##  Tempature Sensors                                             ##
#####################################################################

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
[temperature_sensor CANBOARD]
sensor_type: temperature_mcu
sensor_mcu: can0
min_temp: 15
max_temp: 100

#[temperature_sensor chamber]
#sensor_type: Generic 3950
#sensor_pin: PF4
#min_temp: 15
#max_temp: 100
#gcode_id: chamber_th
[temperature_sensor RaspberryPi]
sensor_type: temperature_host

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################
[gcode_macro HOME]
gcode:
    G90
    # Home Z
    G1 X150 Y150
    G28 Z0
    G1 Z10 F1200
    # Home Y
    G28 Y0
    G1 Y5 F1200
    # Home X
    G4 P200
    G28 X0
    G1 X5 F1200
#___________________________________________

[idle_timeout]
timeout: 1800
#####################################################################
##  Homing
#####################################################################
#[safe_z_home]
##  XY Location of the Z Endstop Switch
##  Update -10,-10 to the XY coordinates of your endstop pin 
##  (such as 157,305) after going through Z Endstop Pin
##  Location Definition step.
#home_xy_position: 150,150
#speed:100
#z_hop:3 #Old Value 10 - Beacon requires 3#
#####################################################################
##  Leveling
#####################################################################
[z_tilt]
##  Use Z_TILT_ADJUST to level the bed .
##  z_positions: Location of toolhead
z_positions:
   -50, 18
   150, 348
   350, 18
points:
   30, 5
   150, 245
   270, 5

speed: 200
horizontal_move_z: 20
retries: 5
retry_tolerance: 0.0045

##BEACON PROBE##
[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_78268FD35154364134202020FF140935-if00 #/dev/serial/by-id/usb-Beacon_Beacon_RevD_<..addyourserial..>-if00
x_offset: -20 # update with offset from nozzle on your machine
y_offset: 0 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2
contact_max_hotend_temperature: 180 # increase to probe at print temps
home_xy_position: 150, 150 # update with your safe position
home_z_hop: 5
home_z_hop_speed: 30
home_xy_move_speed: 100
home_method: contact # use proximity for induction homing
home_method_when_homed: proximity # after initial calibration use induction
home_autocalibrate: unhomed # contact will calibrate beacon on first home
#####################################################################
#   Displays
#####################################################################
##               __Using system config for display__               ##
#####################################################################

[skew_correction]

#####################################################################
#   Macros
#####################################################################
## Macro's moved to macros.cfg


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 58.378
#*# pid_ki = 1.405
#*# pid_kd = 606.397
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 48.259
#*# pid_ki = 3.093
#*# pid_kd = 188.211
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 90.0
#*# shaper_type_y = 3hump_ei
#*# shaper_freq_y = 77.8
#*#
#*# [probe]
#*# z_offset = -1.412
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*#   0.128333, 0.062292, 0.028958, -0.052083
#*#   0.108750, 0.029375, -0.034375, -0.117708
#*#   0.141042, 0.030208, -0.090000, -0.208750
#*#   0.185000, 0.040417, -0.105208, -0.272292
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 3
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 79.65
#*# max_x = 221.34
#*# min_y = 78.73
#*# max_y = 222.07
#*#
#*# [skew_correction calilantern_skew_profile]
#*# xy_skew = 0.0005727559574970071
#*# xz_skew = -0.0015061367670087973
#*# yz_skew = -0.0015273553855088195
#*#
#*# [skew_correction CaliFlower]
#*# xy_skew = 0.0005979166787158127
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [skew_correction PLA]
#*# xy_skew = -0.0008016836657805048
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [skew_correction ASA]
#*# xy_skew = 0.0026165170486405925
#*# xz_skew = -0.0007000915624967273
#*# yz_skew = 0.001647691171115291
#*#
#*# [beacon model default]
#*# model_coef = 1.82332778307786,
#*#     2.1131027537979508,
#*#     0.647834864878748,
#*#     0.22778876976629456,
#*#     0.14251188093279205,
#*#     0.057787537362784164,
#*#     -0.06331594512648488,
#*#     0.01800974878449805,
#*#     0.054128941179909774,
#*#     -0.008101951733838072
#*# model_domain = 1.9428225607499748e-07,1.9542936756573432e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 22.883046
#*# model_offset = 0.00000

